<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Index Page</title>
        <base href="http://localhost:9999/"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
     
        <h1>Product List</h1>
        <table th:border="1">
            <tr>
                <th>ID</th>
             
            </tr>
            <tr th:each="o: ${list}"> 

                <td th:text="${o.getName()}"></td>
              
            </tr>
        </table>
    </body>

</html>
